@CHARSET "ISO-8859-1";

fieldset{
	padding:1cm;
	font:80% son-serif;
	
}
legend{
	
	font-weight:bold;
	color:#336699;
	
}

label{
	 display:inline-block;
	 display:inline;
	 zoom:1;
	 float:left;
	 padding-top:5px;
	 text-align:right;
	 width:140px;
	 font-weight:bold;
	
}
input{
	margin-top:5px;
	margin-bottom:5px;
	 display:inline-block;
	 display:inline;
	 zoom:1;
	 vertical-align:middle;
	 margin-left:20px;
	
}
select{
	margin-top:5px;
	margin-bottom:5px;
	 display:inline-block;
	 display:inline;
	 zoom:1;
	 vertical-align:middle;
	 margin-left:20px;
	
}
h2{
	color:#336699
}
input[type='submit']{
	
	float:left;
	margin-left:200px;
	margin-top:25px;
	padding-top:2cm;
	text-align:right;
	font-wight:bold;
	
}
div#form{
	
	width:60%;
}
div.message{
	color:green;
	font-weight=bold;
	font-style=italic;
	font-size=10pt;
	
}